// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "m3-theme.scss" as theme;
@use "../styles/toolbar-theme" as toolbar-theme;
@use "../styles/typography" as typography;
// Plus imports for o ther components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@font-face {
  font-family: "uniform-condensed";
  src: url("./../src/assets/fonts/UniformCondensed-Bold.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

$display: mat.m2-define-typography-level(
  $font-size: 36px,
  $line-height: 1.25,
  $font-weight: 700,
);

$heading-1: mat.m2-define-typography-level(
  $font-size: 32px,
  $line-height: 1.25,
  $font-weight: 700,
);

$heading-2: mat.m2-define-typography-level(
  $font-size: 28px,
  $line-height: 1.25,
  $font-weight: 700,
);

$heading-3: mat.m2-define-typography-level(
  $font-size: 26px,
  $line-height: 1.25,
  $font-weight: 700,
);

$heading-4: mat.m2-define-typography-level(
  $font-size: 22px,
  $line-height: 1.25,
  $font-weight: 700,
);

$heading-5: mat.m2-define-typography-level(
  $font-size: 20px,
  $line-height: 1.25,
  $font-weight: 700,
);

$heading-6: mat.m2-define-typography-level(
  $font-size: 18px,
  $line-height: 1.25,
  $font-weight: 700,
);

$body: mat.m2-define-typography-level(
  $font-size: 16px,
  $line-height: 1.5,
  $font-weight: 400,
);

$body-small: mat.m2-define-typography-level(
  $font-size: 14px,
  $line-height: 1.5,
  $font-weight: 400,
);

$body-extra-small: mat.m2-define-typography-level(
  $font-size: 12px,
  $line-height: 1.5,
  $font-weight: 400,
);

$theme-typography: mat.m2-define-typography-config(
  $font-family: "uniform-condensed",
  $headline-1: $heading-1,
  $headline-2: $heading-2,
  $headline-3: $heading-3,
  $headline-4: $heading-4,
  $headline-5: $heading-5,
  $headline-6: $heading-6,
  $body-1: $body,
  $body-2: $body-small,
  $caption: $body-extra-small,
);

:root {
  @include mat.all-component-themes(theme.$light-theme);
  @include toolbar-theme.toolbar-theme(theme.$light-theme);

  mat-icon {
    color: #{mat.get-theme-color(theme.$light-theme, neutral-variant, 99)};
  }

  mat-sidenav {
    background-color: #{mat.get-theme-color(theme.$light-theme, neutral, 95)};
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  --primary-color: #{mat.get-theme-color(theme.$light-theme, primary, 40)};
  --accent-color: #{mat.get-theme-color(theme.$light-theme, secondary, 40)};
  --warn-color: #{mat.get-theme-color(theme.$light-theme, error, 40)};
}

@include mat.typography-hierarchy(theme.$light-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "uniform-condensed", Roboto, "Helvetica Neue", sans-serif;

  .page {
    background-color: #{mat.get-theme-color(
        theme.$light-theme,
        neutral-variant,
        90
      )};
    height: 100vh;
    padding: 1rem;

    h1,
    .h1 {
      font-size: mat.get-theme-typography(
        $theme-typography,
        headline-1,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        headline-1,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        headline-1,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        headline-1,
        font-weight
      );
      text-transform: uppercase;
    }

    h2,
    .h2 {
      font-size: mat.get-theme-typography(
        $theme-typography,
        headline-2,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        headline-2,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        headline-2,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        headline-2,
        font-weight
      );
      text-transform: uppercase;
    }

    h3,
    .h3 {
      font-size: mat.get-theme-typography(
        $theme-typography,
        headline-3,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        headline-3,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        headline-3,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        headline-3,
        font-weight
      );
      text-transform: uppercase;
    }

    h4,
    .h4 {
      font-size: mat.get-theme-typography(
        $theme-typography,
        headline-4,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        headline-4,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        headline-4,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        headline-4,
        font-weight
      );
      text-transform: uppercase;
    }

    h5,
    .h5 {
      font-size: mat.get-theme-typography(
        $theme-typography,
        headline-5,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        headline-5,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        headline-5,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        headline-5,
        font-weight
      );
      text-transform: uppercase;
    }

    h6,
    .h6 {
      font-size: mat.get-theme-typography(
        $theme-typography,
        headline-6,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        headline-6,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        headline-6,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        headline-3,
        font-weight
      );
      text-transform: uppercase;
    }

    p,
    span,
    div {
      font-size: mat.get-theme-typography(
        $theme-typography,
        body-1,
        font-size
      );
      font-family: mat.get-theme-typography(
        $theme-typography,
        body-1,
        font-family
      );
      line-height: mat.get-theme-typography(
        $theme-typography,
        body-1,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $theme-typography,
        body-1,
        font-weight
      );
    }
  }
}
